@font-face{
    src: url(../fonts/Montserrat-Regular.otf);
    font-family: 'Monserrat';
}
*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body{
    min-height: 100vh;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    background-color: #c9e197;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    padding-left: 80px;
    padding-top: 1em;
}

/*Navbar styles*/

.navbar{
   /* height: 100%;*/ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #595357;
}

.navbar-links {
    height: 4em;
    width: 80%;
}

.navbar-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #595357;
    padding: 1.5rem;
    font-size: 1.5em;
}

a{  
    font-weight:bold;
    font-size: 18px;
    text-decoration: none;
    color: #595357;
    display: inline-block;
    position: relative;
}

/*underline animation */
a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #595357;
    transform-origin: bottom right;
    transition: 1s ease-out;
}

a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Toggle button */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #595357;
    border-radius: 10px;
}



/*Responsive navbar*/

@media (max-width: 768px) {

    body{
        margin-top: 0em;
        background-image: url(../images/bgmap.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar  {
        /*background-image: linear-gradient(to left top, #C9E197, #C3d797, #BCCC98, #B6C298, #AFB898, #ABAB90, #A49E89, #9B9283, #8F8078, #7F706E, #6C6163, #595357);*/
        background-color: #A4AC95;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .toggle-button {
        display: flex;
        color: #c9e197 ;
    }

    /*underline animation */
    a:after{
        content: '';
        position: absolute;
        width: 75%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #595357;
        transform-origin: center right;
        transition: 1s ease-out;
    }

    a:hover:after{
        transform: scaleX(1);
        transform-origin: center left;
    }

    .navbar-links {
        display: none;
        /*width: 100%;*/
    }

    .navbar-links ul {
        height: 100%;
        width: 100%;
        display: flex;  
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        color: #c9e197;
    }

    .navbar-links.active{
        height: 100%;
        width: 100%;
        display: block;
        /*background-image: linear-gradient(to left top, #C9E197, #C3d797, #BCCC98, #B6C298, 
                            #AFB898, #ABAB90, #A49E89, #9B9283, #8F8078, #7F706E, #6C6163, #595357);*/
        background-color: #A4AC95;
    }
}

/*overlay*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Marta*/

.clubber{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle{
    max-width: 440px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Marta.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}

/*Antonio*/

.clubber2{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box2 h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box2 p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle2{
    max-width: 440px;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person2{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Antonio.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre2{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre2 span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}

/*Lele*/

.clubber3{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box3 h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box3 p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle3{
    max-width: 440px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person3{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Lele.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre3{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre3 span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}


/*Carlos*/

.clubber4{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box4 h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box4 p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle4{
    max-width: 440px;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person4{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Carlos.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre4{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre4 span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}


/*Pablo*/

.clubber5{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box5 h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box5 p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle5{
    max-width: 440px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person5{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Pablo.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre5{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre5 span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}

/*Pilar*/

.clubber6{
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif, Arial, Helvetica, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595357;
    font-weight: bolder;
    margin: 80px auto;
    width: 90%;
}

.text-box6 h2{
    font-size: 42px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-box6 p{
    font-size: 16px;
    text-align: justify;
    line-height: 2em;
}

.circle6{
    max-width: 440px;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    position: relative;
    shape-outside: circle(50%);
    shape-margin: 1em;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person6{
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(../images/Pilar.png);
    background-size: cover;
    border-radius: 50%;
}


.nombre6{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nombre6 span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 200px;
}